body {
      font-family: "Trebuchet MS";
      background: #ddd;
}

.block {
  margin: 0px;
  width: 90%;
  border: 1px solid #f0f0f0;
  position: relative;
  background: #fff;
  min-height: 90px;
}

.block-header {
  background: #999;
  padding: 15px;
}
.block-header h3 {
    display: inline-block;
    color: #fff;
}

.count-bar {
  position: absolute;
  right: 10px;
  top: 17px;
  background: #fff;
  text-align: center;
  padding: 9px;
}


ul {
  margin: 0!important;
  padding: 0!important;
  list-style: none;
}

li {
  padding: 15px 9px;
  border-bottom: 1px solid #d0d0d0;
    cursor: move;
}

.in-progress li {
background-color: orange;
}


.done li {
background-color: limegreen;
}

.light {
  color: #999;
}
