body {
	font-family: "Trebuchet MS";
	background: #ddd;
}

.header {
  background: #fff;
  padding: 20px 50px;
  margin-bottom: 20px;
}

label {
  margin-right: 15px;
}

input {
  padding: 8px;
  outline: none;
  border: 0px;
}

.block {
	margin: 20px 0px;
	width: 90%;
	border: 1px solid #f0f0f0;
	position: relative;
	background: #fff;
	min-height: 90px;
}

.block-header {
	background: #999;
	padding: 11px;
}

.block-header h3 {
	display: inline-block;
	color: #fff;
}

.count-bar {
	position: absolute;
	right: 10px;
	top: 17px;
	background: #fff;
	text-align: center;
	padding: 9px;
  font-size: 12px;
}

.count-bar.total {
  top: 31px;
  background: #999;
  color: #fff;
}

ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
}

li {
	padding: 15px 9px;
	border-bottom: 1px solid #d0d0d0;
	cursor: move;
}

.done li:before {
  content: '✓';
  padding: 0px 5px;
}

.in-progress li {
	background-color: orange;
  color: #fff;
}

.done li {
	background-color: limegreen;
  color: #fff;
}

.light {
	color: #999;
	line-height: 2.2;
}
